#bloco-1{
    background-color: orange;
    border: 5px solid rgb(196, 135, 22);
    width: 30%;
    margin: 8px;
}

h1,p{
    color: white;
}
#bloco-2{
    background-color: rgb(72, 132, 72);
    border: 5px solid green;
    width: 30%;
    margin: 8px;
}
#bloco-3{
    background-color: rgb(6, 41, 6);
    border: 5px dashed green;
    width: 30%;
    margin: 8px;
}
#bloco-4{
    background-color: rgb(171, 28, 28);
    border: 5px dashed rgb(211, 115, 115);
    width: 30%;
    margin: 8px;
}
main{
    font-family: Helvetica;
}